@font-face {
  font-family: 'Orbitron';
  src: url('./assets/Fonts/Orbitron/static/Orbitron-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@import "tailwindcss";

@theme{
    --font-orbitron:Orbitron;
}
body {
  @apply  bg-gradient-to-b from-indigo-900 via-black to-black;
}